@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.navbar {
  position: relative;
}

.doodle {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url("/assets/doodle.jpg");
  background-size: 200px;
  z-index: -1;
  opacity: .1;
}

.navLink {
  @apply text-[12px] text-gray-600 hover:text-indigo-500
}

.article {
  @apply flex flex-col gap-3 tracking-wide mb-20
}

.article>h2 {
  @apply text-2xl font-bold font-[Garamond]
}